VERKADA_API_KEY=This should be your API Key==
ELASTIC_PASSWORD=At least six characters long
KIBANA_SYSTEM_PASSWORD=At least six characters long and you will need to set in Kibana refer to README
KIBANA_ENCRYPTION_KEY=Create Key using command "openssl rand -base64 32" in linux or wsl==