[Email]
EMAIL_TO = receiver_email@example.com
EMAIL_FROM = your_email@example.com
EMAIL_SUBJECT = Subject for the Email 
EMAIL_MESSAGE = The message you would like to send along with the dashboard link