[Email]
EMAIL_TO=receiver_email@example.com
EMAIL_FROM=your_email@example.com
EMAIL_SUBJECT=Subject for the Email
EMAIL_SEND_TIME=09:00

[Verkada]
# Default number of days to pull on first run or if index is empty
TIME_DELTA_INSTALLATION=365

# This is how often you want to update elasticSearch (in 24-hour format)
# i.e. every 15 minutes -> ELASTIC_UPDATE_INTERVAL=00:15
ELASTIC_UPDATE_INTERVAL = 00:15
